In [2]:
import pandas as pd

train = pd.read_csv("./validation_v2/train.csv")
test = pd.read_csv("./validation_v2/test.csv")

In [3]:
train_question_id = set(train['QuestionId'].values)
test_question_id = set(test['QuestionId'].values)

print(len(train_question_id), len(test_question_id))
print(len(train_question_id - test_question_id), len(test_question_id - train_question_id))

1247 622
1247 622

In [4]:
overlap = train_question_id & test_question_id
print(len(overlap))

0

In [5]:
train_misconception_id = set(x for x in train['MisconceptionAId'].dropna().values.tolist()) | \
                        set(x for x in train['MisconceptionBId'].dropna().values.tolist()) | \
                        set(x for x in train['MisconceptionCId'].dropna().values.tolist()) | \
                        set(x for x in train['MisconceptionDId'].dropna().values.tolist())

test_misconception_id = set(x for x in test['MisconceptionAId'].dropna().values.tolist()) | \
                       set(x for x in test['MisconceptionBId'].dropna().values.tolist()) | \
                       set(x for x in test['MisconceptionCId'].dropna().values.tolist()) | \
                       set(x for x in test['MisconceptionDId'].dropna().values.tolist())


print(f"len(train_misconception_id): {len(train_misconception_id)}")
print(f"len(test_misconception_id): {len(test_misconception_id)}")
print(f"len(train_misconception_id - test_misconception_id): {len(train_misconception_id - test_misconception_id)}")
print(f"len(test_misconception_id - train_misconception_id): {len(test_misconception_id - train_misconception_id)}")
overlap = train_misconception_id & test_misconception_id
print(len(overlap))

len(train_misconception_id): 1154
len(test_misconception_id): 896
len(train_misconception_id - test_misconception_id): 708
len(test_misconception_id - train_misconception_id): 450
446

In [6]:
len(train_misconception_id | test_misconception_id)

1604

In [10]:
misconception_map = pd.read_csv("./misconception_mapping.csv")
len(misconception_map)

2587

In [11]:
2587 - 1604

983

In [5]:
import pandas as pd
from itertools import chain
v3_train_df = pd.read_csv('./validation_v3/train.csv')
v3_test_df = pd.read_csv('./validation_v3/test.csv')
v3_train_df['MisconceptionIdUnion'] = v3_train_df[['MisconceptionAId', 'MisconceptionBId', 'MisconceptionCId', 'MisconceptionDId']].apply(lambda x: set(x.dropna().astype(int)), axis=1)
v3_test_df['MisconceptionIdUnion'] = v3_test_df[['MisconceptionAId', 'MisconceptionBId', 'MisconceptionCId', 'MisconceptionDId']].apply(lambda x: set(x.dropna().astype(int)), axis=1)
v3_train_df = v3_train_df[['QuestionId', 'MisconceptionIdUnion']]
v3_test_df = v3_test_df[['QuestionId', 'MisconceptionIdUnion']]

In [6]:
v3_test_df.head(2)

   QuestionId MisconceptionIdUnion
0          23   {2032, 2492, 2437}
1          29          {811, 1214}

In [8]:
set(chain.from_iterable(v3_test_df['MisconceptionIdUnion'].head(2)))

{811, 1214, 2032, 2437, 2492}

In [10]:

def score_split(train_df, test_df):
    train_misconceptions = set(chain.from_iterable(train_df['MisconceptionIdUnion']))
    test_misconceptions = set(chain.from_iterable(test_df['MisconceptionIdUnion']))
    overlap = train_misconceptions.intersection(test_misconceptions)
    return len(overlap)

score_split(v3_train_df, v3_test_df)

371