In [13]:
import json
corpus_path = './corpus.jsonl'
queries_path = './queries_val2_v1.jsonl'

corpus = [json.loads(line)['text'] for line in open(corpus_path, 'r')]
queries = [json.loads(line)['text'] for line in open(queries_path, 'r')]
correct_ids = [json.loads(line)['correct_id'] for line in open(queries_path, 'r')]

In [14]:
print(corpus[:3], '\n', len(corpus))
print(queries[:3], '\n', len(queries))
print(correct_ids[:3], '\n', len(correct_ids))

['Does not know that angles in a triangle sum to 180 degrees', 'Uses dividing fractions method for multiplying fractions', 'Believes there are 100 degrees in a full turn']
 2587
['simplify an algebraic fraction by factorising the numerator simplify the following, if possible: \\( \\frac{m^{2}+2 m-3}{m-3} \\) \\( m+1 \\)', 'simplify an algebraic fraction by factorising the numerator simplify the following, if possible: \\( \\frac{m^{2}+2 m-3}{m-3} \\) \\( m+2 \\)', 'simplify an algebraic fraction by factorising the numerator simplify the following, if possible: \\( \\frac{m^{2}+2 m-3}{m-3} \\) \\( m-1 \\)']
 1866
[2142.0, 143.0, 2142.0]
 1866

In [22]:
with open(queries_path, 'r') as f:
    for line in f:
        row = json.loads(line)
        print(row.keys())
        print(row['correct_answer'])
        break

dict_keys(['text', 'correct_id', 'question', 'subject_name', 'construct_name', 'correct_answer', 'wrong_answer'])
Does not simplify

In [1]:
import json

examples = [
    {
        "instruct": "Given a math question about divide decimals by 10 and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.",
        "query": "\\( 43.2 \\div 10= \\) Incorrect answer : \\( 33.2 \\)",
        "response": "Subtracts instead of divides"
    },
    {
        "instruct": "Given a math question about know the equation of the axes and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.",
        "query": "What is the equation of the \\( y \\) axis? Incorrect answer : \\( y=0 \\)",
        "response": "Confuses the equations of vertical and horizontal lines"
    }
]

# 将数据写入JSON文件
with open('./examples_v1.json', 'w', encoding='utf-8') as f:
    json.dump(examples, f, indent=4)

In [3]:
import json

# 从JSON文件读取数据
with open('examples_v1.json', 'r', encoding='utf-8') as f:
    examples = json.load(f)

# 验证导入的数据
print(examples)

[{'instruct': 'Given a math question about divide decimals by 10 and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.', 'query': '\\( 43.2 \\div 10= \\) Incorrect answer : \\( 33.2 \\)', 'response': 'Subtracts instead of divides'}, {'instruct': 'Given a math question about know the equation of the axes and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.', 'query': 'What is the equation of the \\( y \\) axis? Incorrect answer : \\( y=0 \\)', 'response': 'Confuses the equations of vertical and horizontal lines'}]

In [15]:
examples_raw = [
    {'instruct': 'Given a math question about divide decimals by 10 and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.',
    'query': '\\( 43.2 \\div 10= \\) Incorrect answer : \\( 33.2 \\)',
    'response': 'Subtracts instead of divides'},
    {'instruct': 'Given a math question about know the equation of the axes and a misconcepted incorrect answer to it, retrieve the most accurate reason for the misconception leading to the incorrect answer.',
    'query': 'What is the equation of the \\( y \\) axis? Incorrect answer : \\( y=0 \\)',
    'response': 'Confuses the equations of vertical and horizontal lines'}
    ]
# 保存列表到JSON文件
with open('examples_v1.json', 'w', encoding='utf-8') as f:
    json.dump(examples_raw, f, indent=4)

In [16]:
with open('examples_v1.json', 'r', encoding='utf-8') as f:
    loaded_examples = json.load(f)

In [13]:
import numpy as np
indices = np.array([[ 143,  891, 1755,  418, 1535,   80,  167, 2398, 1610, 1256, 1593,
        1803,  979,  885, 2078,  792, 2549, 1044,  363, 1871,  715, 2581,
          59, 2256, 1614],
       [ 143,  891,   80, 1755, 2398,  167, 1593,  418, 1803, 1535,  885,
        1610, 2078, 1256,  979, 2549,  792, 2581,  363, 1871, 1044, 1614,
        1153,  715,   59],
       [ 143,  891, 1755, 1535, 2398,  418, 1610,   80, 1803, 1593,  885,
         167, 2078, 2549, 1256,  979,  363, 1871, 1044,  715,  792, 1454,
          59, 1614, 1766],
       [1180,  618, 2464, 2174, 2137, 2189, 2421, 2432, 1071, 1851,  972,
        2493,  591,  515, 1202,  557, 1740, 1528,  219,  465, 1513, 1370,
         551, 1009,  872],
       [1180,  618, 2464, 2174, 2137, 1071, 2189, 2421, 2432,  599, 2493,
         515, 1851,  591, 1740,  557,  972, 1528,  219,   85, 1370, 1968,
        1513,  465,  551],
       [ 618, 1180, 2137, 2493, 2432,  591, 2464,  515, 1740, 1528, 1851,
        1224,  972, 1348, 1370,   85, 2421, 2174, 1513,  451, 1009, 1975,
         229,  423,  551],
       [ 915,  686, 2050, 1065,  877, 2353, 1167,  719, 1782,  441, 1422,
        2332,  454,  305, 1183, 1520, 1725, 1678, 2551, 1151,  157, 1788,
         865, 1883, 1210],
       [ 686, 1065, 2050, 2353,  305,  915,  877,  441,  704, 1183, 1167,
        1725, 1422,  719,  682, 2551, 1883, 1151, 2332, 1782, 1678, 1547,
         865,  790, 1520],
       [ 996,  686,  441, 1422,  877, 1169,  454, 1520, 1065,  457, 2353,
        1183, 2050,  246, 2514,  915,  305, 1210,  865, 1423, 1782, 2551,
        1678, 1780,   71]])
indices.shape

(9, 25)

In [14]:
ids = ['1_A', '1_B', '1_C', '3_A', '3_B', '3_D', '5_A', '5_B', '5_C']

In [17]:
type(indices), indices.shape

(numpy.ndarray, (9, 25))

In [18]:
import pandas as pd
df = pd.DataFrame({
    'QuestionId_Answer': ids,
    'MisconceptionId': [' '.join(map(str, c)) for c in indices.tolist()]
})
df

  QuestionId_Answer                                    MisconceptionId
0               1_A  143 891 1755 418 1535 80 167 2398 1610 1256 15...
1               1_B  143 891 80 1755 2398 167 1593 418 1803 1535 88...
2               1_C  143 891 1755 1535 2398 418 1610 80 1803 1593 8...
3               3_A  1180 618 2464 2174 2137 2189 2421 2432 1071 18...
4               3_B  1180 618 2464 2174 2137 1071 2189 2421 2432 59...
5               3_D  618 1180 2137 2493 2432 591 2464 515 1740 1528...
6               5_A  915 686 2050 1065 877 2353 1167 719 1782 441 1...
7               5_B  686 1065 2050 2353 305 915 877 441 704 1183 11...
8               5_C  996 686 441 1422 877 1169 454 1520 1065 457 23...

In [19]:
df.shape

(9, 2)

In [16]:
df.to_csv('submission.csv', index=False)